* {
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    margin: 0;
    padding: 0;
}

.MainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.CardConteiner {
    background-color: white;
    width: 35%;
    height: 35%;
    float:left;
    padding: 2%;
    margin: 2%;
    box-shadow: 7px 7px 10px rgba(0,0,0,.161); /* vertical, horizontal, blur */
}

#show-Card {
    display: none;
    padding: 0%;
}

label {
    color: darkslategray;
    font-weight: bold;
    display: block;
    margin-left: 3%;
}

input {
    padding: 2%;
    margin-left: 3%; 
    background-color: #efefef;
    border-radius: 8px;   
    box-shadow: inset 1px 1px 6px rgba(0,0,0,.161);
    outline: none;
    border: none;
}

button {
    padding: 10px;
    margin-left: 3%;
    margin-top: 3%;
    color: whitesmoke;
    font-weight: bold;
    background: linear-gradient(95.64deg,#1c3d9f 0%,#3096cb 100.33%);
    border-radius: 8px;
    border-style: hidden;
    display: block;
}

button:focus {
    color: lightgray;
}

button:hover {
    box-shadow: 3px 3px 5px grey;
}

p {
    margin-left: 3%;
    margin-top: 3%;
    font-weight: bolder;
    font-size:larger;
}

#p_number-valid{
    padding: 1%;
    margin: 0%;
    padding-left: 5%;
    position: relative;
    bottom: 0;
    font-weight: bold;
    font-size: larger;
    color: #efefef;
    box-shadow: 0px -5px 12px rgba(0,0,0,.301);
}

#p_credit-number {
    padding: 0% 5% 5%;
    letter-spacing: 5px;
    text-align: center;
    font-size: xx-large;
    color: #f7f7f7;
}

img {
    padding: 5% 0% 0% 5%;
}

h1 {
    color:#efefef;
    text-align: center;
    margin: 0%;
    padding: 1%;
}

header {
    background: linear-gradient(95.64deg,#18358d 0%,#3096cb 100.33%);
    
}

footer {
    background-color: #18358d;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}

#credits {
    padding: 1%;
    margin: 0%;
    color:rgb(200, 200, 200);
    font-weight: lighter;
    font-size: medium;
}
